[include]
	path = ~/.gitconfig.local
[init]
	defaultbranch = main
[merge]
	conflictstyle = diff3
[color]
	ui = true
[push]
	autoSetupRemote = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[credential]
	helper = manager-core
